body{
	line-height: 2;
	font-size: 20px;
	font-weight: 50;
}

h1{
	font-size: 60px;
	/*padding: 30px auto; */
	margin: 10px auto;
}

h4{
	font-weight: 50;
}

.container-fluid{
	padding: 10px 20%;
	text-align: center;
}

.container{
	/*height: 40%;*/
	text-align: center;
	margin: 120px auto;
}

.jumbotron{
	/*margin: 150px auto;*/
	padding: 80px auto;
}

.jumbotron p{
	font-size: 15px;
	/*font-weight: 100;*/
	color: #666666;
}


.col-lg-4{
	padding-top: 5px;
	padding-bottom: 5px;
}

.img-thumbnail{
	padding: 20px;
	border: 0px;
}


img{
	width: 350px;
	/*padding: 20px;*/
	max-width: 100%;
	height: auto;
}

#text{
	/*font-weight: lighter;*/
	color: #666666;
}

 /*Small devices (landscape phones, 576px and up)*/

 
@media (max-width: 1280px) { 
	
	h1{
		font-size: 45px;
	}
	
	.container-fluid{
		padding: 10px 15%;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	
	h1{
		font-size: 40px;
	}
	
	.container-fluid{
		padding: 10px 15%;
	}

}

@media (max-width: 576px) {
	
	h1{
		font-size: 30px;
	}
	.container-fluid{
		padding: 10px 10%;
	}

}

