body{
	background: url(https://i.pinimg.com/originals/8b/ef/22/8bef22c753dcb6c3a0bb75567287f715.jpg);
	background-image: center;
	background-size: cover;
	background-repeat: none; 
	font-family: 'Open Sans', sans-serif;
	color: black;
}

html{
	height: 100%;
}

#content{
	text-align: center;
	padding-top: 25%;
}

h1{
	font-weight: 700;
	font-size: 5em;

}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

#id{
	height: 10px;
	width: 10px;
}